:root {
  --background: #222222;
  --game-background: #0e0e0e;
  --game-tile-red: #ff3b3b;
  --game-tile-blue: #3232ff;
  --game-tile-green: #40ff40;
  --game-tile-yellow: #ffff3b;
  --game-button: #2c2c2c;
  --game-button-focus: #6ee26a;
  --game-tile-flash: #eeeeee;
}

body {
  background-color: var(--background);
  font-family: Grande, sans-serif;
}

.page-layout {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.game-content {
  position: relative;
}

.game-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
  height: 40rem;
  width: 40rem;
  color: white;
  border-radius: 8rem;
  background-color: var(--game-background);
}

.game-layout .tile:hover {
  filter: brightness(1.5);
  box-shadow: inset 0px 0px 8px #D4ADFC;
}

.game-layout .tile-tl {
  border-radius: 7rem 1rem 1rem 1rem;
  background-color: var(--game-tile-yellow);
}

.game-layout .tile-tr {
  border-radius: 1rem 7rem 1rem 1rem;
  background-color: var(--game-tile-blue);
}

.game-layout .tile-bl {
  border-radius: 1rem 1rem 1rem 7rem;
  background-color: var(--game-tile-red);
}

.game-layout .tile-br {
  border-radius: 1rem 1rem 7rem 1rem;
  background-color: var(--game-tile-green);
}

.game-control-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 22rem;
  aspect-ratio: 1 / 1;
  border: 1rem solid var(--game-background);
  border-radius: 8rem;
  background-color: var(--background);
}

.game-control-layout .title {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
}

.game-control-layout .button {
  width: 12rem;
  padding: 1rem;
  border-radius: 8rem;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
  background-color: var(--game-button);
}

.game-control-layout .button:hover {
  transition: 0.2s;
  background-color: var(--game-button-focus);
  cursor: pointer;
}

.game-control-layout .instructions {
  color: white;
  width: 21rem;
  padding: .5rem;
  margin-top: -12px;
  margin-bottom: -6px;
  font-size: 1rem;
  font-weight: bold;
  user-select: none;
  line-height: 1.7rem;
}

.game-layout .tile.active {
  background-color: white;
}